<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/IMG/jalakam.png" alt="Logo" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
      {% for x in site.data.navbar %}
      <a class="navbar-item" href="{{ x.link }}">
        <i class="{{ x.icon }}"></i>  {{ x.menu }}
      </a>
      {% endfor %}
      </div>
    </div>
</nav>
